<html>
    <head>
        <center> <title> Caitlin's blog</title> </center>
    </head>
    <body>
        <div>
            <h1><a href=""> Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p> Hey human reading this! WELCOME. I hope you are a human. As far as I know homosapiens are the only literate species.</p>
My name is Caitlin Barnes. I am 15 years old and go to San Marin Highschool in Novato, California. I love to read, eat delicious food, and swim in the ocean.
Currently I am exploring  my interest for computer science. So many people use the internet daily but have no clue how it works. I am enrolled in a Girls Who Code summer immersion program at a software company called Pivotal.
Thanks for reading my first blog post. Apprecitate the cheerful moments in life and learn, learn, learn!
</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p> What's something you are interested in learning? My answer is sign language. I want to do it but I can be lazy, so I make the excuse that I don't have the time. Bad! Be proactive and take 15 minutes today to learn something new. </p>
        </div>
    </body>
</html>
